<%- include("../partials/header") %>

<section id="blogpost-hero">
  <h1><%= blogpost.country %>: <%= blogpost.title %></h1>
  <p class="blogpost-date"><%= blogpost.date %></p>
</section>

<div class="layout">
  <section id="blogpost-content"><%- blogContent %></section>

  <!-- Image Carousel using Bootstrap -->
  <section id="image-carousel">
    <div id="carouselIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <% blogpost.images.forEach(function(image, index) { %>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="<%= index %>"
          class="<%= index === 0 ? 'active' : '' %>"
          aria-current="true"
          aria-label="Slide <%= index + 1 %>"
        ></button>
        <% }); %>
      </div>
      <div class="carousel-inner">
        <% blogpost.images.forEach(function(image, index) { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img
            src="<%= blogImagesDir + image.filename%>"
            class="mx-auto carousel-image"
            alt="<%= image.caption%>"
          />
        </div>
        <% }); %>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</div>

<%- include("../partials/plan-tips-banner") %> <%- include("../partials/footer")
%>

<style>
  body {
    background-image: linear-gradient(180deg, transparent 25%, whitesmoke 75%),
      url(<%=blogpost.coverImgURL%>);
  }
</style>
