<%- include("../partials/header") %>

<section id="blogpost-hero">
  <h1><%= blogpost.country %>: <%= blogpost.title %></h1>
  <p class="blogpost-date"><%= blogpost.date %></p>
</section>
<section id="blogpost-content"><%= md.render(blogpost.content) %></section>

<style>
  body {
    background-image: linear-gradient(180deg, transparent 20%, whitesmoke 45%),
      url(<%=blogpost.coverImgURL%>);
  }
</style>

<%- include("../partials/plan-tips-banner") %> <%- include("../partials/footer")
%>
