<%- include("../partials/header") %>

<main>
  <section id="hero">
    <div>
      <p>
        From the heights of the Himalayas to the underwater wonders of the Great
        Barrier Reef, dive into my travel articles where I share my stories so
        far, and hopefully inspire your next adventure!
      </p>
    </div>
  </section>
  <section id="articles">
    <div class="articles-grid">
      <% Object.entries(blogposts).forEach(([slug, post]) => { %>
      <div
        class="article-card"
        onclick="location.href='/blogpost/<%= slug %>';"
      >
        <p class="main-title"><%= post.country %></p>
        <h3 class="sub-title"><%= post.title %></h3>
        <img class="article-img" src="<%= post.coverImgURL %>" alt="" />
      </div>
      <% }) %>
    </div>
  </section>
</main>

<%- include("../partials/plan-tips-banner") %> <%- include("../partials/footer")%>
