<%- include("../partials/header") %>

<section id="hero">
  <div>
    <h2>Welcome to the place that fuels your wanderlust!</h2>
    <p>
      If you've got a case of insatiable wanderlust, a thirst for adventure, or
      just need a little nudge to plan that dream getaway, you're in the right
      place. From breathtaking landscapes to bustling city-scapes, I've
      journeyed across the globe and packed all my tales, tips, and destination
      guides right here. Let's explore the world together - one incredible trip
      at a time!
    </p>
  </div>
</section>

<section id="articles">
  <div class="blog-post-container">
    <% Object.entries(first7Posts).forEach(([slug,blogpost], index) =>{ %>
    <div
      class="blog-card card-<%= index + 1 %>"
      onclick="location.href='/blogpost/<%= slug %>';"
    >
      <div class="article-title">
        <p><%= blogpost.country %></p>
        <h3><%= blogpost.title %></h3>
      </div>
      <img src="<%=blogpost.coverImgURL%>" />
    </div>
    <%})%>

    <div class="blog-card card-8">
      <div class="article-title">
        <h3>All Articles</h3>
      </div>
      <img src="/images/blogposts/van-life-wanderlust.png" alt="" />
    </div>
  </div>
</section>

<section id="destination-guides">
  <h2>Destination Guides:</h2>
  <div id="guide-container">
    <% Object.entries(guides).forEach(([slug, guide]) => { %>
    <div
      class="guide-card"
      onclick="location.href='/destination-guide/<%= slug %>';"
    >
      <h3 class="guide-location"><%= guide.title.continent %></h3>
      <img
        src="/images/travel-guides/<%= guide.title.coverImgURL %>"
        alt=""
        class="guide-img"
      />
    </div>
    <% }) %>
  </div>
</section>

<%- include("../partials/plan-tips-banner") %> <%- include("../partials/footer")
%>
